body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.pink-bg {
  background: linear-gradient(#ffd6e8, #ffeaf4);
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  background: #ff4d88;
  color: white;
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
}

.roses span {
  font-size: 50px;
  margin: 15px;
  cursor: pointer;
}

.card {
  background: #fff0f6;
  padding: 30px;
  border-radius: 20px;
  width: 85%;
}

.letter {
  font-size: 18px;
  color: #444;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 20px;
}

.gallery img {
  width: 150px;
  border-radius: 15px;
}

.final-img {
  width: 220px;
  border-radius: 20px;
}
